vti_encoding:SR|utf8-nl
vti_author:SR|F.M. van Doorn
vti_modifiedby:SR|F.M. van Doorn
vti_timecreated:TR|14 Aug 2005 15:25:47 -0000
vti_timelastmodified:TR|14 Aug 2005 15:25:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_cacheddtm:TX|14 Aug 2005 15:25:47 -0000
vti_filesize:IR|5508
vti_cachedlinkinfo:VX|S|sumbannd.gif S|sumhbudd.gif S|sumhbusd.gif S|sumhombd.gif S|sumnexbd.gif S|sumprebd.gif S|sumupbd.gif S|sumglob.gif S|sumvbudd.gif S|sumvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumbannd.gif FSUS|_themes/sumipntg/sumhbudd.gif FSUS|_themes/sumipntg/sumhbusd.gif FSUS|_themes/sumipntg/sumhombd.gif FSUS|_themes/sumipntg/sumnexbd.gif FSUS|_themes/sumipntg/sumprebd.gif FSUS|_themes/sumipntg/sumupbd.gif FSUS|_themes/sumipntg/sumglob.gif FSUS|_themes/sumipntg/sumvbudd.gif FSUS|_themes/sumipntg/sumvbusd.gif
vti_backlinkinfo:VX|
